html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #edf2fb; /* palitan mo kulay */
}

.btn-color {
    background-color: #abc4ff;
}

.btn-color:hover {
    background-color: #52b2cf;
}

h1 {
    font-family:"Inter Tight", sans-serif;
    font-size: 4rem;
}

p {
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
}
.navbar-brand {
    font-family: "DM Sans", sans-serif;
    font-weight: 800;
}
.navbar-nav {
    font-family: "DM Sans", sans-serif;
}


     