@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

/* NAVBAR */
li, a, button {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.logo {
    cursor: pointer;
}

.navbar {
    list-style: none;
}

.navbar li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar li a {
    transition: all 0.3s ease 0s;
}

.navbar li a:hover {
    color:#2A6F97;
}

button {
    padding: 9px 25px;
    background-color: #468FAF;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #2A6F97 ;
}


/* About */
.about {
    padding: 80px 100px;
    background-color: white;
    text-align: center;
    font-family: "Manrope", sans-serif;
}

.about h1 {
    color: black;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about p {
    max-width: 800px;
    margin: 10px auto;
    font-size: 1.1rem;
    color: #555;
}

/* Projects */
.projects {
    padding: 80px 100px;
    background-color: white;
    font-family: "Manrope", sans-serif;
  
}

.projects h1 {
    text-align: center;
    color: black;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.project-list p {
    max-width: 800px;
    margin: 20px auto;
    line-height: 1.6;
    font-size: 1.05rem;
    color: #333;
}

.project-list strong {
    color: black;
    font-weight: 600;
}

/* Contact */
.contacts {
    background-color: white;
    color: black;
    text-align: center;
    padding: 80px 20px;
    font-family: "Manrope", sans-serif;
}

.contacts h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: black;
}

.cntc {
    max-width: 500px;
    margin: 0 auto;
}

.cntc h3 {
    margin-top: 20px;
    font-weight: 500;
    color: black;
}

.cntc h6 {
    margin-top: 8px;
    font-size: 1.1rem;
    font-weight: normal;
    color: black;
}




